<mat-card>
  <mat-card-title>Editeur</mat-card-title>

  <mat-card-content>
    <mat-card-actions>
      <mat-form-field appearance="fill">
        <mat-label>Select an option</mat-label>
        <mat-select [(value)]="selected">
          <mat-option *ngFor="let language of programmingLanguageAssociations"
                      (click)="changeLanguage(language.languageName)"
                      value="{{language.languageName}}">
            {{language.displayLanguageName}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </mat-card-actions>
    <ngs-code-editor
      [theme]="theme"
      [codeModel]="codeModel"
      [options]="options"
      (valueChanged)="onCodeChanged($event)"
      *ngIf="!changingLanguage"
      #codeEditor>
    </ngs-code-editor>
    <ngs-code-editor
      [theme]="theme"
      [codeModel]="codeModel"
      [options]="options"
      (valueChanged)="onCodeChanged($event)"
      *ngIf="changingLanguage"
      #secondCodeEditor>
    </ngs-code-editor>

    <mat-card *ngIf="hasLoaded" [style.background]="resultColor">
      <mat-card-title>Résultat d'exécution</mat-card-title>
      <mat-card-content>
        <p style="white-space: pre;">{{result}}</p>
      </mat-card-content>

    </mat-card>

    <mat-card-actions>
      <mat-spinner *ngIf="loading"></mat-spinner>
      <button mat-flat-button color="primary" (click)="sendData()" *ngIf="!loading">Exécuter</button>
    </mat-card-actions>


  </mat-card-content>
</mat-card>
