<mat-spinner *ngIf="isLoading"></mat-spinner>

<div *ngIf="posts && posts.length > 0 && !isLoading">
  <mat-form-field class="example-full-width" style="min-width : 30%">
    <input type="text" placeholder="Recherchez un post" aria-label="Select Posts" matInput [formControl]="postControl">
  </mat-form-field>
  <mat-card class="example-card" *ngFor=" let post of filteredPosts | async" style="max-height: 100%; max-width: 100%">

    <mat-card-content>
      <app-post [post]="post"></app-post>
    </mat-card-content>
  </mat-card>
</div>
