<p>create-post works!</p>

<mat-card>
  <mat-card-header class="center">
    <mat-card-title>
      <h5>Post creation</h5>
      <hr>
    </mat-card-title>
  </mat-card-header>

  <mat-tab label="Texte">
    <mat-form-field appearance="fill">
      <mat-label>Title</mat-label>
      <input matInput>
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Description</mat-label>
      <textarea matInput></textarea>
    </mat-form-field>
  </mat-tab>

  <mat-tab-group class="center" dynamicHeight>
    <mat-tab label="Code">
      <full-code-editor></full-code-editor>
    </mat-tab>
    <mat-tab label="Image">
      <app-image-sender></app-image-sender>
    </mat-tab>
  </mat-tab-group>
</mat-card>

