<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

  <!--- Note that these columns can be defined in any order.
        The actual rendered columns are set as a property on the row definition" -->

  <!-- Position Column -->
  <ng-container matColumnDef="uid">
    <th mat-header-cell *matHeaderCellDef> uid </th>
    <td mat-cell *matCellDef="let element"> {{element.uid}} </td>
  </ng-container>

  <!-- Name Column -->
  <ng-container matColumnDef="challenge_id">
    <th mat-header-cell *matHeaderCellDef> challenge_id </th>
    <td mat-cell *matCellDef="let element"> {{element.challenge_id}} </td>
  </ng-container>

  <!-- Weight Column -->
  <ng-container matColumnDef="resultat_obtenu">
    <th mat-header-cell *matHeaderCellDef> resultat_obtenu </th>
    <td mat-cell *matCellDef="let element"> {{element.resultat_obtenu}} </td>
  </ng-container>

  <!-- Symbol Column -->
  <ng-container matColumnDef="temps_execution">
    <th mat-header-cell *matHeaderCellDef> temps_execution </th>
    <td mat-cell *matCellDef="let element"> {{element.temps_execution}} </td>
  </ng-container>

  <ng-container matColumnDef="user_id">
    <th mat-header-cell *matHeaderCellDef> user_id </th>
    <td mat-cell *matCellDef="let element"> {{element.user_id}} </td>
  </ng-container>

  <ng-container matColumnDef="created_at">
    <th mat-header-cell *matHeaderCellDef> created_at </th>
    <td mat-cell *matCellDef="let element"> {{element.created_at}} </td>
  </ng-container>

  <ng-container matColumnDef="updated_at">
    <th mat-header-cell *matHeaderCellDef> updated_at </th>
    <td mat-cell *matCellDef="let element"> {{element.updated_at}} </td>
  </ng-container>

  <ng-container matColumnDef="language_used">
    <th mat-header-cell *matHeaderCellDef> language_used </th>
    <td mat-cell *matCellDef="let element"> {{element.language_used}} </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
