<p>{{challenge.description}}</p>
<button (click)="participateChallenge()" *ngIf="!participating && !challengeResultExists" mat-flat-button color="primary">Participer au challenge</button>
<full-code-editor *ngIf="participating || challengeResultExists"
                  [challengeParticipation]="true"
                  [challengeId]="challenge.challenge_id"
                  [executeNoSave]="true"
                  #codeEditor></full-code-editor>
<mat-card *ngIf="showTestResults" [style.background]="">
  <mat-card-title></mat-card-title>
  <mat-card-content>
    <h2>Résultats des tests</h2>
    <h3>Score : {{challengeResult.resultat_obtenu}}</h3>
    <h3>Temps total d'exécution : {{challengeResult.temps_execution}} secondes</h3>
    <mat-expansion-panel *ngFor="let testResult of testResults"
    style="width: 100%; margin-top: 0.5%" [style.background]="testResult.passed ? 'green' : 'red'">
      <mat-expansion-panel-header>
        <mat-panel-title style="font-weight: bold">
          {{testResult.testName}}
        </mat-panel-title>
      </mat-expansion-panel-header>
      <h3>{{testResult.arguments.substring(0, testResult.arguments.indexOf(':') + 1)}}</h3>
      <h4>{{testResult.arguments.substring(testResult.arguments.indexOf(':') + 1)}}</h4>
      <h3>Résultat attendu : </h3>
      <h4>{{testResult.expectedResult}}</h4>
      <h3>Votre résultat : </h3>
      <h4>{{testResult.actualResult}}</h4>
    </mat-expansion-panel>


  </mat-card-content>

</mat-card>
<button mat-stroked-button color="primary" style="margin-top: 1%; margin-bottom: 1%;"
        *ngIf="(participating || challengeResultExists) && !loading" (click)="submitResult()">Soumettre le résultat</button>
<mat-spinner style="margin-top: 1%; margin-bottom: 1%;"
        *ngIf="(participating || challengeResultExists) && loading"></mat-spinner>
<app-challenge-board style="max-height: 100%; max-width: 100%"
  *ngIf="hasLoaded"
  [challengeId]="challenge.challenge_id"
  #challengeBoard>
</app-challenge-board>
