<p>{{challenge.description}}</p>
<button (click)="participateChallenge()" *ngIf="!participating && !challengeResultExists" mat-flat-button color="primary">Participer au challenge</button>
<full-code-editor *ngIf="participating || challengeResultExists"
                  [challengeParticipation]="true"
                  [challengeId]="challenge.uid"
                  [executeNoSave]="true"
                  #codeEditor></full-code-editor>
<button mat-stroked-button color="primary" style="margin-top: 1%; margin-bottom: 1%;"
        *ngIf="(participating || challengeResultExists) && !loading" (click)="submitResult()">Soumettre le résultat</button>
<mat-spinner style="margin-top: 1%; margin-bottom: 1%;"
        *ngIf="participating && loading" (click)="submitResult()">Soumettre le résultat</mat-spinner>
<app-challenge-board style="max-height: 100%; max-width: 100%"
  *ngIf="hasLoaded"
  [challengeId]="challenge.uid">
</app-challenge-board>
