<mat-card>
  <mat-card-title>
    Add a new comment
  </mat-card-title>

  <form class="create-comment-form">
    <mat-card-content class="center-component">
      <mat-form-field class="row-form-width" appearance="fill">
        <mat-label>Comment message</mat-label>
        <textarea matInput [formControl]="messageFormControl"></textarea>
        <mat-error *ngIf="!messageIsNotNull">
          The comment message is <strong>required</strong>
        </mat-error>
      </mat-form-field>
    </mat-card-content>

    <button mat-flat-button color="primary" [disabled]="!messageIsNotNull()" (click)="submitComment()" *ngIf="!hasCommented">Submit comment</button>
    <span>{{ message_comment }}</span>
  </form>
</mat-card>

<mat-card>
  <mat-card-title>
    List of comments for the post : {{ post_name }}
  </mat-card-title>

  <mat-spinner *ngIf="isLoading"></mat-spinner>

  <div *ngIf="comments && comments.length > 0 && !isLoading; then hasComment else noComment"></div>

  <ng-template #hasComment>
    <div mat-dialog-content class="example-card" *ngFor=" let comment of comments" style="max-height: 100%; max-width: 100%">
      <mat-card-content>
        <app-comment-post [comment]="comment"></app-comment-post>
      </mat-card-content>
    </div>
  </ng-template>

  <ng-template #noComment>
    <div class="example-card" style="max-height: 100%; max-width: 100%">
      <mat-card-content>
        No comment yet.
      </mat-card-content>
    </div>
  </ng-template>

</mat-card>
