<mat-card>
  <mat-card-content>
    <mat-tab-group color="primary" backgroundColor="primary" mat-align-tabs="center" (selectedTabChange)="tabChanged($event)" #tabGroup>

      <mat-tab label="out of memory">
        <app-all-posts [allPosts]="true" *ngIf="tabGroup.selectedIndex === 0 && displayAllPosts"></app-all-posts>
      </mat-tab>

      <mat-tab label="My posts" *ngIf="isLogged">
        <app-all-posts [allPosts]="false" *ngIf="tabGroup.selectedIndex === 1 && displayMyPosts"></app-all-posts>
      </mat-tab>

      <mat-tab label="New post" *ngIf="isLogged">
        <app-create-post *ngIf="tabGroup.selectedIndex === 2 && displayCreatePost"></app-create-post>
      </mat-tab>

      <mat-tab [disabled]="true">
        <ng-template mat-tab-label>
          <button mat-flat-button color="primary" (click)="showLogin()" *ngIf="!isLogged">
            Sign In
          </button>
          <app-user *ngIf="isLogged"></app-user>
        </ng-template>
      </mat-tab>

      <mat-tab *ngIf="!isLogged" label="Sign up">
        <app-signup *ngIf="displaySignUp"></app-signup>
      </mat-tab>

    </mat-tab-group>
    <full-code-editor *ngIf="showEditor"></full-code-editor>
    <app-profile *ngIf="displayProfile"></app-profile>
  </mat-card-content>
</mat-card>
