<mat-card>
  <mat-card-content>
  <mat-tab-group color="primary" backgroundColor="primary" mat-align-tabs="center" #tabGroup>

    <mat-tab label="out of memory">
      <app-post></app-post>
    </mat-tab>


    <mat-tab label="New post" *ngIf="isLogged">
      <app-create-post></app-create-post>
    </mat-tab>

    <mat-tab [disabled]="true">
      <ng-template mat-tab-label>
        <button mat-flat-button color="primary" (click)="showLogin()" *ngIf="!isLogged">
          Sign In
        </button>
        <app-user *ngIf="isLogged"></app-user>
      </ng-template>
    </mat-tab>

    <mat-tab *ngIf="!isLogged" label="Sign up">
      <app-signup></app-signup>
    </mat-tab>

  </mat-tab-group>
<full-code-editor *ngIf="showEditor"></full-code-editor>
  </mat-card-content>
</mat-card>
<!--
<footer style="background-color: black">
  <div class="text-center p-4" style="color: white">
    © 2022 Copyright:
    <a class="text-reset fw-bold ">out of memory</a>
  </div>
</footer>
-->
