<mat-card class="example-card" style="max-height: 100%; max-width: 100%; margin-top: 1%" *ngIf="hasLoaded">
  <mat-card-header *ngIf="isLogged">
    <img mat-card-avatar src="{{ this.URL }}/{{ post.avatar }}" alt="{{ post.avatar }}" (click)="openProfile()"
         class="pointer">
    <mat-card-title (click)="openProfile()" class="pointer">{{ post.username }}</mat-card-title>
    <mat-card-subtitle>{{ post.created_at }}</mat-card-subtitle>
  </mat-card-header>
  <mat-card-header *ngIf="!isLogged">
    <img mat-card-avatar src="{{ this.URL }}/{{ post.avatar }}" alt="{{ post.avatar }}">
    <mat-card-title>{{ post.username }}</mat-card-title>
    <mat-card-subtitle>{{ post.created_at }}</mat-card-subtitle>
  </mat-card-header>

  <mat-card-content>
    <h2>{{ post.title }}</h2>
    <p>
      {{ post.description }}
    </p>
  </mat-card-content>

  <div
    *ngIf="post.images.toLowerCase().endsWith('.jpg') || post.images.toLowerCase().endsWith('.png') || post.images.toLowerCase().endsWith('.jpeg'); then imageContent else codeContent">
  </div>
  <ng-template #imageContent>
    <img class="image-card" mat-card-image src="{{ this.URL }}/{{ post.images }}" alt="{{ post.images }}">
  </ng-template>
  <ng-template #codeContent>
    <full-code-editor *ngIf="hasLoaded" [post]="post"></full-code-editor>
  </ng-template>

  <br>

  <span>{{ message_like }}</span>
  <div class="row">
    <div class="col-1">
      <mat-icon>thumb_up</mat-icon>
      {{ count_likes }}
    </div>
    <div class="col-2">
      <mat-icon>comment</mat-icon>
      {{ count_comments }}
    </div>
  </div>

  <div *ngIf="isLogged; then online else guest"></div>

  <mat-card-actions>
    <ng-template #online>
      <button mat-button (click)="setLike()" [ngClass]="{'like' : isLiked, 'dislike': !isLiked}">LIKE</button>
      <button mat-button (click)="setComment()">COMMENT</button>
    </ng-template>
    <ng-template #guest>
      <button mat-button (click)="showLogin()">LIKE</button>
      <button mat-button (click)="showLogin()">COMMENT</button>
    </ng-template>
  </mat-card-actions>
</mat-card>
