.close-button{
  float: right;
  top:-22px;
  right:-22px;
}

.close-icon {
  transition: 1s ease-in-out;
}

.close-icon:hover {
  transform: rotate(180deg);
}

.pointer {
  cursor: pointer;
}

.pointer:hover {
  text-decoration: underline;
}

