<mat-spinner *ngIf="isLoading"></mat-spinner>

<div *ngIf="challenges && challenges.length > 0 && !isLoading">
  <mat-card  class="example-card">

    <mat-card-content>
      <mat-accordion>
        <mat-expansion-panel (opened)="panelOpenState = true"
                             (closed)="panelOpenState = false"
        *ngFor="let challenge of challenges" style="margin-top: 0.5%">
          <mat-expansion-panel-header>
            <mat-panel-title>
              {{challenge.title}}
            </mat-panel-title>
            <mat-panel-description>

            </mat-panel-description>
          </mat-expansion-panel-header>
          <app-challenge [challenge]="challenge"></app-challenge>
        </mat-expansion-panel>
      </mat-accordion>


    </mat-card-content>
  </mat-card>
</div>
